<footer id="footer">
	<div class="container">
		<div class="row double">
			<div class="6u">
				<div class="row collapse-at-2">
					<div class="6u">
						<h3>Events</h3>
						<ul class="alt">
							<li><a href="#">CAC Summer School</a></li>
							<li><a href="https://www.sharcnet.ca/summerschool/2018/">SHARCNET Summer School</a></li>
							<li><a href="https://www.scinethpc.ca/2018-compute-ontario-summer-school-central/">SciNet Summer School</a></li>
							<li><a href="http://computeontario.ca/events/">Compute Ontario Events</a></li>
						</ul>
					</div>
					<div class="6u">
						<h3>Other resources</h3>
						<ul class="alt">
							<li><a href="https://cac.queensu.ca">About CAC</a></li>
							<li><a href="https://cac.queensu.ca/accounts/sign-up-procedure/">Sign up for a CAC account</a></li>
							<li><a href="https://cac.queensu.ca/wiki/index.php/Main_Page">CAC Wiki</a></li>
							<li><a href="mailto:cac.help@queensu.ca">Contact us</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="6u">
				<h2><a href="https://cac.queensu.ca">Centre for Advanced Computing</a></h2>
				<p>
				The Centre for Advanced Computing specializes
				in providing high availability, secure, advanced computing resources and
				support for academic and medical researchers in Canada. CAC operates a high
				performance data centre as part of the Compute Canada family serving
				Canada’s research community.
				</p>
			</div>
		</div>
		<ul class="copyright">
			<li>&copy; {{site.author}}</li>
      <li>2018</li>
		</ul>
	</div>
</footer>
